<ion-modal-view id="request-login-modal" class="common-modal">
  <ion-content class="request-login-content">
    <div class="wrapper-80">
      <section class="message-section">

        <div class="row zero row-header">
          <div class="col-60 flex col-header">
            <p class="zero header-text">
              알림
            </p>
          </div>
          <div class="col-20 flex col-cross"
            ng-click="PostDetail.requestLoginModal.hide()"
          >
            <i class="cross-icon ion-ios-close-empty"></i>
          </div>
        </div>
        <div class="request-content">
          <p class="zero auto content-text center pre">
            회원가입 / 로그인을 해주세요
          </p>
          <div class="row zero row-button flex">
              <!-- ng-click="PostDetail.requestLoginModal.hide()" -->
            <div class="col-80 col-button radius"
              ng-click="PostDetail.requestLoginHandler()"
            >
              <p class="zero button-text center">
                확인
              </p>
            </div>
          </div>
        </div>

      </section>
    </div>
  </ion-content>
</ion-modal-view>
