#my-post-list{
  .subheader-title {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  .submit-button {
    background: $positive;
    &.selected {
      background: $yellow;
    }
    &.activated {
      background: $yellow;
    }
    width: 100%;
    font-size: 15px;
    color: white;
    padding: {
      top: 10px;
      bottom: 10px;
    }
    margin: {
      top: 15px;
    }
    // margin: {
    //   top: 25px;
    //   bottom: 25px;
    // }
  }

  // items
  .row-list {
      .col-list {
          padding: 3px;
          .image-ads {
            width: 99%;
            height: 115px;
          }
          .list-content {
              width: 100%;
              height: 100%;
              .list-image {
                  width: 100%;
                  height: 100%;
              }
              // Details Container Absolute
              .detail-container {
                  background: $green-transparent;
                  width: 100%;
                  bottom: 0;
                  left: 0;
                  padding: {
                      left: 3px;
                      top: 3px;
                      right: 3px;
                  }
                  .post-text {
                      font-size: 12px;
                      line-height: 16px;
                      color: $light-grey;
                  }
                  .post-title {
                      font-size: 13px;
                      color: white;
                  }
                  .row-likes {
                      justify-content: flex-end;
                      .heart-icon {
                        content: url('../img/icon_heart_70.png');
                        width: 55%;
                        margin-top: -0.5px;
                        opacity: .7;
                      }
                      .bubble-icon {
                        content: url('../img/icon_bubble_70.png');
                        width: 55%;
                        opacity: .7;
                      }
                  }

                  .row-price {
                      padding: {
                          top: 5px;
                          bottom: 5px;
                      }
                      .post-category {
                          color: $green;
                      }
                      .post-price {
                          color: $yellow;
                          font-weight: bold;
                      }
                  }

              }
          }
      }
  }

  .select-box {
    width: 25px;
    height: 25px;
    top: 5px; right: 5px;
    background: $light;
    .ion-checkmark-round::before {
      color: transparent;
    }
    &.selected {
      background: $yellow;
      .ion-checkmark-round::before {
        color: lighten($yellow, 20);
      }
    }
  }
  .sold-out-text-container {
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.6);
    .sold-out-text {
      font-size: 18px;
      border: {
        bottom: 1px solid $yellow;
      }
    }
  }
}
