<ion-view id="announcement-detail"
    cache-view="true"
    hide-back-button="false"
>
  <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-android-arrow-back"
          ng-click="goBack()"
      >
      </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span ng-if="isParam({by: 'notification'})">
      공지사항
    </span>
    <span ng-if="isParam({by: 'event'})">
      이벤트
    </span>
  </ion-nav-title>

  <ion-content class="has-header announcement-detail-content">
    <!-- row-list -->
    <div class="row zero row-list flex-v row-list-bg">
      <div class="col zero col-list">
        <p class="zero list-text">
        {{ AnnouncementDetail.Model.post.title }}
        </p>
        <div class="row zero row-meta flex-v">
            <!-- {{ AnnouncementDetail.Model.post.nickname }} -->
          <p class="zero username-text yellow">
            관리자
          </p>
          <p class="zero small date-text">
          {{ AnnouncementDetail.Model.post.createdAt | date: 'yyyy.MM.dd' }}
          </p>
        </div>
      </div>
    </div>
    <div class="row zero row-image flex">
      <div class="col-image col-90">
        <img class="announcement-image"
          ng-src="{{ AnnouncementDetail.Model.post.photos[0].url | cloudinary600 }}"
        >
      </div>
    </div>
    <div class="row row-announcement zero flex">
      <div class="col-90 zero">
        <p class="zero announcement-text">
          {{AnnouncementDetail.Model.post.content}}
        </p>
      </div>
    </div>

    <section class="comments-section">
      <ul class="comments">
        <li class="comment row zero flex-v"
          ng-repeat="comment in AnnouncementDetail.Model.comments"
        >
          <img class="profile-image circle"
            ng-src="{{AnnouncementDetail.getUserPhoto(comment.createdBy)}}"
          >
<!--           
          <div class="col-2 child-comment"
            ng-if="!comment.isParent"
          >
          </div>
 -->
          <div class="col zero col-comment-content">
<!-- 
            <div class="row zero row-cross"
              ng-if="AnnouncementDetail.isWrittenByUser(comment.createdBy)"
            >
              <i class="icon ion-ios-close-empty"></i>
            </div>
 -->            
            <div class="row zero row-comment-name-date">
              <p class="zero name-text green">
                {{comment.createdBy.nickname}}
              </p>
              <p class="zero date-text">
                {{comment.updatedAt | date: 'yyyy.MM.dd HH:mm'}}
              </p>
            </div>

            <div class="zero row row-comment-content-text">
              <p class="zero comment-content-text pre">
                {{comment.content}}
              </p>
            </div>
<!-- 
            <div class="row zero row-reply"
              ng-if="comment.isParent"
              ng-click="AnnouncementDetail.replyModalHandler(comment);"
            >
              <p class="zero reply-text">답글</p>
            </div>
 -->
          </div>
        </li> <!-- comment ends -->
      </ul>
    </section>

  </ion-content>
</ion-view>
